body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.m-1{
  margin:1rem;
}
.m-2{
  margin-top:1.1rem;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
}
.open-overlay {
  opacity: 0.5;
  z-index: 1002;
  display:block;
 
 
}
.open{
  opacity: 1;
  z-index: 1003;
  display:block;
  top: 10%;
  transform: scaleX(1) scaleY(1);
}
